* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    letter-spacing: 0.5px;
}

body {
    background-image: url(../img/bg/index_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    height: 100%;
    width: 100%;

    display: grid;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

/*****************************************************************************
***************************** CABECERA COMÚN *********************************
*****************************************************************************/
.header_wrapper {
    display: grid;
    align-items: center;
    justify-content: center;


    border-bottom-left-radius: 65%;
    border-bottom-right-radius: 65%;
    height: 250px;
    width: 100%;
    top: 0%;

    background-color: #91bed3;
    color: #53675c;
}

.logo {
    width: 150px;
    height: 100%;
    margin-left: 39%;
}

.checkbtn {
    position: sticky;
    font-size: 30px;
    color: #000000;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.links_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 750px;
}

.link {
    text-decoration: none;
    color: #53675c;
}

.dropdown_wrapper {
    display: inline-block;
    position: relative;
}

.dropdown_button {
    background-color: #91bed3;
    color: #53675c;
    border: 0px;
    border-bottom-right-radius: 75%;
}

.dropdown_content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

    background-color: #91bed3;
}

.dropdown_content a {
    display: block;
    color: #53675c;
    text-decoration: none;
    padding: 2px;
}

.dropdown_wrapper:hover .dropdown_content {
    display: block;
    padding: 2.5px;
    padding-left: 4px;
    text-align: left;
}

.links_wrapper :nth-child(3) {
    width: 115px;
}

/*****************************************************************************
************************** PIE DE PÁGINA COMÚN *******************************
*****************************************************************************/

.footer_wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 10%;

    background-color: #91bed3;
    color: #53675c;

    border-top-left-radius: 75%;
    border-top-right-radius: 75%;

    margin-top: auto;
}

.footer_content_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
}

.social_network_wrapper {
    display: grid;
    justify-content: left;
    width: 100px;
}

.social_network_wrapper i {
    margin-top: 20px;
}

.social_network_instagram {
    color: #ffffff;
    font-size: 2.5em;
}

.social_network_instagram:hover {
    color: #dd2a7b;
    font-size: 3em;
}

.social_network_twitter {
    color: #ffffff;
    font-size: 2.5em;
}

.social_network_twitter:hover {
    color: #00acee;
    font-size: 3em;
}

.contact_wrapper {
    display: grid;
    align-items: center;
    justify-content: right;
}

.contact_phone_wrapper {
    display: flex;

    color: #53675c;
}

.contact_phone_wrapper a{
    display: flex;

    color: #53675c;
    margin-left: 10px;
}

.contact_phone_wrapper:hover{
    color: #ca7b5d;
}

.contact_phone_wrapper a:hover{
    color: #ca7b5d;
}

.contact_ubi_wrapper {
    display: flex;

    color: #53675c;

    margin-top: 10px;
}

.contact_ubi_wrapper a{
    display: flex;

    color: #53675c;
    margin-left: 10px;
}

.contact_ubi_wrapper:hover{
    color: #ca7b5d;
}

.contact_ubi_wrapper a:hover{
    color: #ca7b5d;
}

.extra_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 750px;
    padding-bottom: 15px;
}

/*****************************************************************************
***************************** PÁGINA INICIO **********************************
*****************************************************************************/

/******************** CARRUSEL DE IMÁGENES ********************/
.slider_wrapper {
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

    width: 1000px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
}

.slider_wrapper > .page_title {
    font-size: 48px;
    font-family: 'Playball', cursive;
    font-weight: 700;
    color: #0ee20e;
    text-align: center;

    margin-bottom: 40px;
    margin-top: 40px;
}

.slider_wrapper > .slides {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite  alternate;
}

.slider_wrapper > .slides > .slide {
    width: 100%;
    list-style: none;
    position: relative;
}

.slider_wrapper > .slides > .slide > .slider_text_wrapper {
    position: absolute;
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    top: 195.5px;
    color: #d4af37;
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 15px;
}

.slider_wrapper > .slides > .slide > .slider_text_wrapper > .slider_title {
    font-size: 45px;
    margin-bottom: 35px;
}

/************************** CONTENIDO **************************/


.content_wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.2);

    margin-bottom: 60px;
}

.content_wrapper > .index_content_title {
    color: #d4af37;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 35px;
    font-family: 'Young Serif', serif;
}

.content_wrapper > .divisor_wrapper {
    display: grid;
    align-items: center;
    justify-content: space-between;
    margin: 0px 20px 10px 20px;
}

.content_wrapper > .divisor_wrapper > .index_idea_wrapper {
    display: grid;
    color: #d4af37;
    margin-bottom: 75px;
    margin-right: 20px;
}

.content_wrapper > .divisor_wrapper > .index_idea_wrapper > .index_content_title {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 700;
    font-family: 'Roboto Mono', monospace;
}

.content_wrapper > .divisor_wrapper > .index_idea_wrapper p {
    text-align: justify;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 18px;
}

.content_wrapper > .map_wrapper > .index_content_title {
    color: #d4af37;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 35px;
    font-family: 'Young Serif';
}

/*****************************************************************************
***************************** PÁGINAS CUESTIONARIO ****************************
*****************************************************************************/

/************************** CONTENIDO **************************/
#main_sesion {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-columns: 1fr 1fr;

    color: #d4af37;

    margin: 40px 0px;
}
/********************** COLUMNA IZQUIERDA **********************/
.lateral_wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
}

.lateral_wrapper > .lateral_title {
    font-size: 36px;
    font-family: 'Playball', cursive;
    font-weight: 700;
    color: #0ee20e;

    margin-top: 20px;
    margin-bottom: 15px;
}

.lateral_wrapper img  {
    width: 350px;
    height: 100%;
}

.lateral_wrapper > .tel_wrapper {
    margin-top: 40px;
    margin-bottom: 8px;
}

.lateral_wrapper a {
    color: #d4af37;
    font-size: 18.5px;
}

.lateral_wrapper a:hover {
    color: #ca7b5d;
}

.lateral_wrapper > .ubi_wrapper {
    margin-bottom: 30px;
}

.lateral_wrapper iframe {
    margin-bottom: 50px;
}

/********************** COLUMNA DERECHA **********************/
.forms_wrapper {
    display: grid;
    align-items: center;
    justify-content: center;

    margin-top: 30px;
}

/* INICIO DE SESIÓN */
.login_form label {
    margin-top: 15px;
}

.login_form input {
    font-size: 20px;
    border: none;
    border-radius: 2px;
    border-bottom: 3px solid #91bed3;
    width: 95%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(0, 0, 0, 0.2);
    color: #d4af37;
    margin-bottom: 15px;
    text-align: center;
    margin-top: 25px;
}

.login_form label {
    font-size: 20px;
    font-weight: 700;
    visibility: hidden;
    opacity: 0;
    text-align: center;
}

.login_form input::-webkit-input-placeholder {
    color: #d4af37;
}

.login_form input:focus::-webkit-input-placeholder {
    color: transparent;
}

.login_form input:focus + label {
    opacity: 1;
    visibility: visible;
    color: #ca7b5d;
}

.login_form > .form_buttons_wrapper > .form_button {
    width: fit-content;
    height: 100%;

    padding: 3px;
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;

    background-color: #91bed3;
    color: #000000;
}
/* REGISTRO */
#main_signup {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    color: #d4af37;
}
.signup_form {
    margin-right: 20px;
}

.signup_form > fieldset {
    margin-bottom: 30px;
}

/* DATOS PERSONALES */
.signup_form > .personal_data {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;

    border: #0ee20e solid 3px;
    border-radius: 5px;
}

.signup_form > .personal_data > legend{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    text-align: left;
    margin-left: 50px;
    color: #0ee20e;
}

.signup_form > .personal_data > div > input{
    font-size: 17px;
    border: none;
    border-radius: 2px;
    border-bottom: 3px solid #0ee20e;
    width: 95%;
    padding-top: 7px;
    padding-bottom: 7px;
    background: rgba(0, 0, 0, 0.2);
    color: #d4af37;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 15px;
}

.signup_form > .personal_data > div > label {
    font-size: 17px;
    font-weight: 700;
    visibility: hidden;
    opacity: 0;
    text-align: center;
}
.signup_form > .personal_data > div > input::-webkit-input-placeholder {
    color: #d4af37;
}

.signup_form > .personal_data > div > input:focus::-webkit-input-placeholder {
    color: transparent;
}

.signup_form > .personal_data > div > input:focus + label {
    opacity: 1;
    visibility: visible;
    color: #cbcbcb;
}

.signup_form > .personal_data > div > select {
    font-size: 17px;
    border: none;
    border-radius: 2px;
    border-bottom: 3px solid #0ee20e;
    width: 95%;
    padding-top: 7px;
    padding-bottom: 7px;
    background: rgba(0, 0, 0, 0.2);
    color: #d4af37;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 15px;
}

/* DATOS PROFESIONALES Y FORMATIVOS */
.signup_form > .formative_data {
    display: grid;
    align-items: center;
    justify-content: center;

    border: #91bed3 solid 3px;
    border-radius: 5px;
}

.signup_form > .formative_data > legend{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    text-align: left;
    margin-left: 50px;
    color: #91bed3;
}

.signup_form > .formative_data > p {
    margin: 5px 0px 2px 0px;
    font-size: 17px;
}

.signup_form > .formative_data > div > input:focus + label {
    color: #91bed3
}

.signup_form > .formative_data > div > label {
    font-size: 15px;    
}

.signup_form > .formative_data :nth-child(5) {
    margin-bottom: 10px;
}

/* HOBBY DATA */
.signup_form > .hobby_data {
    border: #ca7b5d solid 3px;
    border-radius: 5px;
}

.signup_form > .hobby_data > legend{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    text-align: left;
    margin-left: 50px;
    color: #ca7b5d;
}

.signup_form > .hobby_data > p {
    margin-bottom: 2px;
    font-size: 17px;
}

.signup_form > .hobby_data > div > label {
    font-size: 15px;    
}

.signup_form > .hobby_data :nth-child(16) {
    margin-bottom: 15px;
}

/* BOTONES */
.signup_form > input {
    width: fit-content;
    height: 100%;

    padding: 3px;
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;

    background-color: #cbcbcb;
    color: #000000;
}



/*****************************************************************************
***************************** PÁGINA DE CONTACTO *****************************
*****************************************************************************/

#main_contact {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}

#main_contact > .left_wrapper {
    display: grid;
    justify-content: center;
    text-align: center;
}

#main_contact > .left_wrapper > .business_title {
    font-size: 36px;
    font-family: 'Playball', cursive;
    font-weight: 700;
    color: #0ee20e;

    margin-top: 20px;
    margin-bottom: 30px;
}

#main_contact > .left_wrapper > .logo_wrapper {
    margin-bottom: 20px;
}

#main_contact > .left_wrapper > .logo_wrapper img {
    width: 350px;
    height: 100%;
}

#main_contact > .left_wrapper iframe {
    margin-bottom: 30px;
}

#main_contact > .right_wrapper {
    display: grid;
    justify-content: center;
    text-align: center;
}

#main_contact > .right_wrapper a {
    color: #d4af37;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
    width: 515.48px;
    height: 23px;
}

#main_contact > .right_wrapper a:hover {
    color: #ca7b5d;
    letter-spacing: 1px;
    font-size: 23px;
}

#main_contact > .right_wrapper > .network_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;

    height: 60px;
}

#main_contact > .right_wrapper > .network_wrapper i {
    font-size: 50px;
    font-weight: 200;
}

#main_contact > .right_wrapper > .network_wrapper a {
    width: fit-content;
}

#main_contact > .right_wrapper > .network_wrapper > .contact_instagram {
    color: #dd2a7b;
}

#main_contact > .right_wrapper > .network_wrapper > .contact_x {
    color: #ffffff;
}

#main_contact > .right_wrapper > .network_wrapper > .contact_tiktok {
    color: #ffffff;
}

#main_contact > .right_wrapper > .network_wrapper > .contact_facebook { 
    color: #0488f0;
}

#main_contact > .right_wrapper > .network_wrapper i:hover {
    font-size: 60px;
}

#main_contact > .right_wrapper > .contact_form {
    width: 515.48px;
    height: 100%;
}

#main_contact > .right_wrapper > .contact_form input{
    font-size: 20px;
    border-radius: 2px;
    border: none;
    border-bottom: 3px solid #ca7b5d;
    width: 95%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(0, 0, 0, 0.2);
    color: #d4af37;
    margin-bottom: 15px;
    text-align: center;
    margin-top: 25px;
}

#main_contact > .right_wrapper > .contact_form ::-webkit-input-placeholder{
    color: #d4af37;
}

#main_contact > .right_wrapper > .contact_form label {
    font-size: 20px;
    font-weight: 700;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    color: #d4af37;
}

#main_contact > .right_wrapper > .contact_form input:focus + label {
    visibility: visible;
    opacity: 1;
}

#main_contact > .right_wrapper > .contact_form textarea{
    font-size: 20px;
    border-radius: 2px;
    border: none;
    border-bottom: 3px solid #ca7b5d;
    width: 95%;
    height: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(0, 0, 0, 0.2);
    color: #d4af37;
    margin-bottom: 15px;
    text-align: center;
    margin-top: 25px;
}

#main_contact > .right_wrapper > .contact_form textarea:focus + label {
    visibility: visible;
    opacity: 1;
}

#main_contact > .right_wrapper > .contact_form > .buttons_wrapper input {

    width: fit-content;
    height: 100%;

    padding: 3px;
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;

    color: #000000;
    background-color: #ca7b5d;
}

/*****************************************************************************
******************************** PÁGINA LIBROS *******************************
*****************************************************************************/
#main_books > .search > .search_form {
    display: grid;
    justify-content: center;
    align-items: center;

    margin-top: 40px;
    margin-bottom: 25px;
}

#main_books > .search > .search_form > .search_bar {
    width: 750px;
    padding: 5px 0px;
    background-color: #8b7f7f;
    color: #000000;
    text-align: center;
    border-radius: 10px;
}

#main_books > .search > .search_form > .search_bar::-webkit-input-placeholder {
    color: #000000;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#main_books > .columns_wrapper {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px 10px;
}

#main_books > .columns_wrapper > .books_column {
margin: 0px 71px;
}


#main_books > .columns_wrapper > .books_column > .book {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin-top: -4px;
}

#main_books > .columns_wrapper > .books_column > .book img{
    width: 150px;
    height: 100%;
}

#main_books > .columns_wrapper > .books_column > .book > .book_info > .book_title {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #d4af37;
    margin-bottom: 8px;
}

#main_books > .columns_wrapper > .books_column > .book > .book_info {
    text-align: center;
    color: #d4af37;
}

#main_books > .columns_wrapper > .books_column > .book > .book_info button {
    margin-top: 5px;
    background-color: #d4af37;
    color: #151515;
    border-radius: 2px;
    border: 1px solid #ca7b5d;
}

/*****************************************************************************
*************************** PÁGINA DE MERCHANDISING **************************
*****************************************************************************/
#main_merch > .search > .search_form {
    display: grid;
    justify-content: center;
    align-items: center;

    margin-top: 40px;
    margin-bottom: 25px;
}

#main_merch > .search > .search_form > .search_bar {
    width: 750px;
    padding: 5px 0px;
    background-color: #8b7f7f;
    color: #000000;
    text-align: center;
    border-radius: 10px;
}

#main_merch > .search > .search_form > .search_bar::-webkit-input-placeholder {
    color: #000000;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#main_merch > .columns_wrapper {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    margin: 5% 1%;
}

#main_merch > .columns_wrapper:nth-child(1) {
    margin-right: -200px;
}

#main_merch > .columns_wrapper > .merch_column > .merch {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#main_merch > .columns_wrapper > .merch_column > .merch img{
    width: 325px;
    height: 325px;
}

#main_merch > .columns_wrapper > .merch_column > .merch > .merch_info {
    display: grid;
    align-items: center;
    width: 325px;
    height: 325px;
}

#main_merch > .columns_wrapper > .merch_column > .merch > .merch_info > .merch_title {
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #d4af37;
}

#main_merch > .columns_wrapper > .merch_column > .merch > .merch_info {
    text-align: center;
    color: #d4af37;
}

#main_merch > .columns_wrapper > .merch_column > .merch > .merch_info button {
    background-color: #d4af37;
    color: #151515;
    border-radius: 2px;
    border: 1px solid #ca7b5d;
}

/*****************************************************************************
*************************** PÁGINA DE MENU **************************
*****************************************************************************/
#main_cafe {
    display: grid;
    justify-content: center;
}

.cafe_menu_wrapper {
    background-image: url(../img/cafe/menubg/fondo_menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 950px;
    height: 1280px;
    margin: 40px 0px;
}

.cafe_menu_wrapper > .menu_title {
    color: #53675c;
    font-size: 48px;
    font-family: 'Times New Roman';
    font-style: italic;
    font-weight: 900;
}

.cafe_menu_wrapper > .sword {
    background-image: url(../img/cafe/menubg/sword.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 673px;
    height: 98px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cafe_menu_wrapper > .sword > .food {
    margin-left: 200px;
    margin-top: 10px;
}

.cafe_menu_wrapper > .sword > .price {
    margin-right: 50px;
    margin-top: 15px;
}

/*****************************************************************************
*************************** PÁGINA DE BLOG **************************
*****************************************************************************/
#main_blog {
    display: grid;
    justify-content: center;
    grid-template-columns: 3fr 1fr;
}

#main_blog > .articles {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: 60px 0px;
    width: fit-content;
}

#main_blog > .articles > .article_title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-bottom: 5px;
    color: #d4af37;
    text-align: center;
}

#main_blog > .articles .blog_article > a > p {
    color: #d4af37;
}

#main_blog > .articles > .create_article {
    background-color: rgba(0, 0, 0, 0.5);
    color: #d4af37;
    padding: 10px;
}

#main_blog > .articles > .create_article > .article_title {
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

#main_blog > .articles > .create_article > .creation_form {
    display: grid;
    align-items: center;
    text-align: justify;
    margin-left: 20px;
}

#main_blog > .articles > .create_article > .creation_form > .creation_label {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

#creation_title {
    width: 500px;
    padding: 3px 0px;
    color: #f0c9c9;
    font-size: 15px;
    background: none;
    border: none;
    border-bottom: #ca7b5d solid 3px;
    border-radius: 3px;
    text-align: center;
}

#creation_title:focus {
    border: #ffffff solid 2px;
    border-bottom: #ca7b5d solid 3px;
}

#creation_content {
    width: 750px;
    height: 100px;
    padding: 3px 0px;
    color: #f0c9c9;
    font-size: 15px;
    background: none;
    border: none;
    border-bottom: #ca7b5d solid 3px;
    border-radius: 3px;
    text-align: center;
}

#main_blog > .articles > .create_article > .creation_form > .creation_insert {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 750px;
    color: #cbcbcb;
    font-size: 20px;
    margin-top: 5px;
}

#main_blog > .articles > .create_article > .creation_form > .creation_insert i:hover{
    color: #d4af37;
    font-size: 23px;
}

#main_blog > .articles > .create_article > .creation_form p {
    font-size: 17px;
    font-weight: 400;
}

#main_blog > .articles > .create_article > .creation_form > .uni_selection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 750px;
}

#main_blog > .articles > .create_article > .creation_form > .uni_selection p:hover {
    text-decoration: underline;
}

#main_blog > .articles > .create_article > .creation_form  > .buttons input {
    width: fit-content;
    padding: 2px;
    margin-top: 10px;
    margin: 10px 5px 0px 5px;
    background-color: #d4af37;
    border: #534516 solid 2px;
}

#main_blog > .articles > .blog_article {
    text-decoration: none;
    color: #ca7b5d;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 20px 0px;
    margin-left: 10px;
    padding: 15px;
}

#main_blog > .articles > .blog_article > a > .article_title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-bottom: 5px;
    color: #d4af37;
}

#main_blog > .articles > .blog_article > .article_extra_content {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

#main_blog > .articles > .blog_article > .article_extra_content img, #main_blog > .articles > .blog_article > .article_extra_content video {
    width: 400px;
    height: 100%;
}

#main_blog > .articles > .blog_article :nth-child(4) {
    margin-top: 10px;
}

#main_blog > div {
    display: grid;
    justify-content: right;
}

#main_blog > div > .lateral_menu {
    background-color: rgba(0, 0, 0, 0.5);
    color: #d4af37;
    margin: 60px 0px;
    margin-left: 20px;
    position: fixed;
    top: 200px;
}

#main_blog > div > .lateral_menu > .lateral_menu_title {
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #0ee20e;
}

#main_blog > div > .lateral_menu > form > p > input {
    margin-right: 15px;
    line-height: 12px;
}

/*****************************************************************************
******************************* PÁGINA SOBRE MÍ ******************************
*****************************************************************************/
#main_about_me {
    display: grid;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr;
}

#main_about_me > section {
    margin: 20px 0px;
}

#main_about_me > section > .about_title {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-style: italic;
    color: #d4af37;
}

#main_about_me > .about_me {
    margin-left: 20px;
}

#main_about_me > section > .divisor {
    display: grid;
    align-items: center;
    justify-content: left;
    text-align: justify;
    grid-template-columns: 1fr 1fr;
}

#main_about_me > section > .divisor > .img_wrapper img {
    width: 300px;
    height: 100%;
}

#main_about_me > section > .divisor > div {
    width: 300px;
    height: 100%;
}

#main_about_me > section > .divisor > div > ul {
    margin-top: 40px;
}

#main_about_me > section > .divisor > div > ul > li {
    color: #d4af37;
    list-style:square;
    margin: 10px 0px;
}

#main_about_me > section > .divisor > div > ul > li > ol > li {
    list-style: circle;
    margin: 7px 0px;
    margin-left: 20px;
}

/*****************************************************************************
***************************** PÁGINA DE PROBLEMAS ****************************
*****************************************************************************/
#main_problems {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    text-align: justify;

    color: #d4af37;
    letter-spacing: 2px;
    line-height: 25px;
}

#main_problems > section {
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
}

#main_problems > section > .problems_title {
    text-align: center;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}

#main_problems > section > p > span {
    font-style: italic;
}

#main_problems > section > p > a {
    color: #d4af37;
    font-style: italic;
    font-weight: 800;
}


/*****************************************************************************
*************************** MEDIA QUERY Y KEYFRAMES **************************
*****************************************************************************/

@keyframes slide {
    0% { margin-left: 0; }
    20% { margin-left: 0; }

    25% { margin-left: -100%; }
    45% { margin-left: -100%; }

    50% { margin-left: -200%; }
    70% { margin-left: -200%; }

    75% { margin-left: -300%; }
    100% { margin-left: -300%; }
}

@media (max-width: 1200px) {

    .header_wrapper {
        width: 110%;
    }

    .logo {
        margin-left: 20%;
    }

    .checkbtn {
        display: block;
    }

    .links_wrapper {
        position: absolute;
        height: auto;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
        width: 500px;
        margin-left: 39%;
    }

    .dropdown_wrapper {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    #check:checked ~ .links_wrapper {
        left: 0;
    }

}

/******************************************************************************
****************************** MEDIA 720 **************************************/

@media (max-width: 720px) {
    html {
        width: 720px;
    }
    /*************** CABECERA ***************/
    
    .header_wrapper {
        width: 720px;
    }

    .logo {
        width: 32.5%;
        margin-left: 32%;
    }

    .links_wrapper {
        margin-left: -1000%;
        font-size: 0.8em;
    }

    #check:checked ~ .links_wrapper {
        margin-left: 17.5%;
    }

    .checkbtn {
        margin: 0px;
        padding-right: 48%;
    }

    /*************** PIE DE PÁGINA ***************/
    .footer_content_wrapper {
        width: 720px;
        justify-content: center;
    }

    .footer_wrapper {
        width: 720px;
        padding: 0px;
    }

    .extra_wrapper {
        width: 720px;
        margin-left: 0px;
    }

    .contact_ubi_wrapper a{
        margin: 0px;
    }

    .social_network_wrapper i {
        margin-top: 0px;
    }

    .social_network_wrapper {
        display: flex;
        width: 100px;
        margin-left: 10%;
    }

    .social_network_wrapper i {
        font-size: 1em;
        margin-left: 15px;
        margin-right: -5px;
    }

    /*************** MAIN INICIO***************/
    /* CARRUSEL */
    .slider_wrapper {
        width: 704px;
        margin-left: 8px;
        margin-right: 8px;
    }

    .slide img {
        width: 704px;
        height: 100%;
    }

    .slider_text_wrapper {
        visibility: hidden;
    }

    /* CONTENIDO */
    .content_wrapper {
        justify-content: left;
        margin-left: 8px;
        margin-right: 8px;
    }

    .content_wrapper > .index_content_title {
        margin-top: 40px;
        margin-bottom: 10px;
        font-size: 35px;
        font-family: 'Young Serif', serif;
        text-align: left;
        margin-left: 24%;
    }

    .content_wrapper > .divisor_wrapper {
        width: 704px;
        grid-template-columns: 1fr;
        margin: 0px;
    }

    .content_wrapper > .map_wrapper > .index_content_title {
        text-align: left;
        font-size: 27px;

        margin-left: 10%;
    }

    .content_wrapper > .map_wrapper iframe {
        width: 600px;
        height: 400px;

    }

    /*************** MAIN SESIÓN ***************/
    .lateral_wrapper {
        display: none;
    }

    .forms_wrapper {
        margin-left: 10%;
        margin-right: 10%;
    }

    #main_sesion {
        grid-template-columns: 1fr;
    }

    /************** MAIN CONTACTO **************/
    #main_contact {
        grid-template-columns: 1fr;
    }

    #main_contact > .left_wrapper > .logo_wrapper img {
        display: none;
    }

    #main_contact > .left_wrapper iframe {
        height: 200px;
    }

    #main_contact > .right_wrapper > .contact_form > .buttons_wrapper input {
        margin-bottom: 30px;
    }

    /************** MAIN LIBROS **************/
    #main_books > .search > .search_form > .search_bar {
        width: 400px;
    }

    #main_books > .columns_wrapper {
        grid-template-columns: 1fr;
    }

    /************** MAIN MERCHANDISING **************/
    #main_merch > .search > .search_forms > .search_bar {
        width: 400px;
    }

    #main_merch > .columns_wrapper {
        grid-template-columns: 1fr;
    }

    /************** MAIN REGISTRO **************/
    .signup_form {
        width: 684px;
        margin-right: 36px;
    }

    /************** MAIN MENU **************/
    .cafe_menu_wrapper {
        width: 700px;
        text-align: center;
    }
    .cafe_menu_wrapper > .sword {
        background: none;
        width: 600px; 
        display: block;
    }

    .cafe_menu_wrapper > .sword > .food {
        margin: 0px;
    }

    .cafe_menu_wrapper > .sword > .price {
        margin: 0px;
    }

    /************** MAIN BLOG **************/
    #main_blog {
        grid-template-columns: 1fr;
    }

    #creation_content {
        width: 704px;
    }

    #main_blog > .articles > .create_article > .creation_form > .creation_insert {
        width: 704px;
    }
    
    #main_blog > .articles > .create_article > .creation_form > .uni_selection {
        width: 704px;
    }
    
    #main_blog > .articles > .blog_article > .article_extra_content img, #main_blog > .articles > .blog_article > .article_extra_content video {
        width: 350px;
        height: 100%;
    }    

    #main_blog > div > .lateral_menu {
        display: none;
    }    

    #main_blog > .articles {
        width: 704px;
    }

    #main_blog > .articles > .create_article {
        margin-left: 25px;
    }

    #main_blog > .articles > .blog_article {
        width: 704px;
        margin: 0 15 0 0px;
    }

    #main_blog > .articles > .blog_article > a {
        width: 704px;
        margin: 0 15 0 0px;
    }

    #main_blog > .articles > .blog_article > a > h2 {
        width: 704px;
        margin: 0 15 0 0px;
    }

    #main_blog > .articles > .blog_article > a > p {
        width: 690px;
        margin: 0 15 0 0px;
    }

    /************** MAIN SOBRE MI **************/
    #main_about_me {
        grid-template-columns: 1fr;
    }

    /************** MAIN PROBLEMAS **************/
    #main_problems {
        grid-template-columns: 1fr;
    }

    #main_problems > section {
        margin: 10;
        width: 650px;
    }
}

/******************************************************************************
****************************** MEDIA 375 **************************************/
@media (max-width: 375px) {
    html {
        width: 375px;
    }
    /*************** CABECERA ***************/
    
    .header_wrapper {
        width: 375px;
    }

    .logo {
        width: 32.5%;
        margin-left: 32%;
    }

    .links_wrapper {
        margin-left: -1000%;
        font-size: 0.8em;
    }

    #check:checked ~ .links_wrapper {
        margin-left: 17.5%;
    }

    .checkbtn {
        margin: 0px;
        padding-right: 48%;
    }

    /*************** PIE DE PÁGINA ***************/
    .footer_content_wrapper {
        width: 375px;
        justify-content: center;
    }

    .footer_wrapper {
        width: 375px;
        padding: 0px;
    }

    .extra_wrapper {
        width: 375px;
        margin-left: 0px;
    }

    .contact_ubi_wrapper a{
        margin: 0px;
    }

    .social_network_wrapper i {
        margin-top: 0px;
    }

    .social_network_wrapper {
        display: flex;
        width: 100px;
        margin-left: 10%;
    }

    .social_network_wrapper i {
        font-size: 1em;
        margin-left: 15px;
        margin-right: -5px;
    }

    /*************** MAIN INICIO***************/
    /* CARRUSEL */
    .slider_wrapper {
        width: 359px;
        margin-left: 8px;
        margin-right: 8px;
    }

    .slide img {
        width: 359px;
        height: 100%;
    }

    .slider_text_wrapper {
        visibility: hidden;
    }

    /* CONTENIDO */
    .content_wrapper {
        justify-content: left;
        margin-left: 8px;
        margin-right: 8px;
    }

    .content_wrapper > .index_content_title {
        margin-top: 40px;
        margin-bottom: 10px;
        font-size: 35px;
        font-family: 'Young Serif', serif;
        text-align: left;
        margin-left: 24%;
    }

    .content_wrapper > .divisor_wrapper {
        width: 359px;
        grid-template-columns: 1fr;
        margin: 0px;
    }

    .content_wrapper > .map_wrapper > .index_content_title {
        text-align: left;
        font-size: 27px;

        margin-left: 10%;
    }

    .content_wrapper > .map_wrapper iframe {
        width: 350px;
        height: 150px;

    }

    /*************** MAIN SESIÓN ***************/
    .lateral_wrapper {
        display: none;
    }

    .forms_wrapper {
        margin-left: 10%;
        margin-right: 10%;
    }

    #main_sesion {
        grid-template-columns: 1fr;
    }

    /************** MAIN CONTACTO **************/
    #main_contact {
        grid-template-columns: 1fr;
    }

    #main_contact > .left_wrapper > .logo_wrapper img {
        display: none;
    }

    #main_contact > .left_wrapper iframe {
        height: 200px;
    }

    #main_contact > .right_wrapper > .contact_form > .buttons_wrapper input {
        margin-bottom: 30px;
    }

    #main_contact > .right_wrapper > .contact_form {
        width: 370px;
        height: 100%;
    }

    /************** MAIN LIBROS **************/
    #main_books > .search > .search_form > .search_bar {
        width: 300px;
    }

    #main_books > .columns_wrapper {
        grid-template-columns: 1fr;
    }

    /************** MAIN MERCHANDISING **************/
    #main_merch > .search > .search_form > .search_bar {
        width: 300px;
    }

    #main_merch > .columns_wrapper {
        grid-template-columns: 1fr;
    }

    #main_merch > .columns_wrapper > .merch_column > .merch img {
        width: 130px;
        height: 130px;
    }

    #main_merch > .columns_wrapper > .merch_column > .merch > .merch_info {
        width: 130px;
        height: 130px;
    }

    /************** MAIN REGISTRO **************/
    .signup_form {
        width: 339px;
        margin-right: 36px;
    }

    /************** MAIN MENU **************/
    .cafe_menu_wrapper {
        width: 355px;
        text-align: center;
    }

    .cafe_menu_wrapper > .sword {
        background: none;
        width: 255px;
        display: block;
    }

    .cafe_menu_wrapper > .sword > .food {
        margin: 0px;
    }

    .cafe_menu_wrapper > .sword > .price {
        margin: 0px;
    }

    /************** MAIN BLOG **************/
    #main_blog {
        grid-template-columns: 1fr;
    }

    #creation_content {
        width: 359px;
    }

    #main_blog > .articles > .create_article > .creation_form > .creation_insert {
        width: 359px;
    }
    
    #main_blog > .articles > .create_article > .creation_form > .uni_selection {
        width: 359px;
    }
    
    #main_blog > .articles > .blog_article > .article_extra_content img, #main_blog > .articles > .blog_article > .article_extra_content video {
        width: 175px;
        height: 100%;
    }    

    #main_blog > div > .lateral_menu {
        display: none;
    }    

    #main_blog > .articles {
        width: 359px;
    }

    #main_blog > .articles > .create_article {
        margin-left: 25px;
    }

    #main_blog > .articles > .blog_article {
        width: 305px;
        margin: 0 15 0 0px;
    }

    #main_blog > .articles > .blog_article > a {
        width: 305px;
        margin: 0 15 0 0px;
    }

    #main_blog > .articles > .blog_article > a > h2 {
        width: 305px;
        margin: 0 15 0 0px;
    }

    #main_blog > .articles > .blog_article > a > p {
        width: 345px;
        margin: 0 15 0 0px;
    }

    /************** MAIN SOBRE MI **************/
    #main_about_me {
        grid-template-columns: 1fr;
    }

    #main_about_me > section > .divisor {
        grid-template-columns: 1fr;
    }

    /************** MAIN PROBLEMAS **************/
    #main_problems {
        grid-template-columns: 1fr;
    }

    #main_problems > section {
        margin: 10;
        width: 305px;
    }

}